body {
	margin: 1vw auto;
	width: 90%;
}
code {
	background: #EEEEEE;
	color: #C7314E;
}
time {
	font-style: italic;
}
.item {
	border: 2px solid grey;
	border-radius: 5px;
	padding: 1vw;
	margin: 0.75vw 0;
}